{% extends "root.html" %}

{% block title %}
    Menu Principal
{% endblock title %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div class="sub-container">
            <h1>Menu</h1>
            <p>Bienvenido, {{ user.nombre_usuario }}</p>
            
            <div class="options-container">
                <a href="" class="btn">Recomendaciones</a>
                <a href="{% url 'show_events' %}" class="btn">Eventos</a>
                <a href="">Perfil</a>
                <a href="{% url 'signout' %}" class="btn">Cerrar Sesión</a>
            </div>    
        </div>
    </div>
{% endblock content %}