{% extends "root.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.nombre_usuario }}</p>
        <a href="{% url 'signout' %}" class="btn btn-danger">Logout</a>

        <p>Id: hola como andamos</p>

    {% else %}
        <a href="{% url 'signin' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-success">Register</a>
    {% endif %}
{% endblock content %}