{% extends "root.html" %}

{% block content %}
    <h2>Codigo Autentificación</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                    <small style="color: red;">{{ error }}</small>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Confirmar Codigo</button>
    </form>
{% endblock content %}