{% extends "root.html" %}

{% block title %}
    Sign In
{% endblock title %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock stylesheet %}


{% block content %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="POST">
                <h1>Sign Up</h1>
                {% csrf_token %}
                {{ form.identificacion }}
                {{ form.email }}
                {% if err %}
                    <small class="error">{{ err }}</small>
                {% endif %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <a class="ghost" id="signIn" href="{% url "signin" %}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}