{% extends "root.html" %}

{% block title %}
    Sign In
{% endblock title %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock stylesheet %}


{% block content %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="POST">
                <h1>Registrarse</h1>
                {% csrf_token %}
                {{ form.identificacion }}
                {{ form.email }}
                {% if msg %}
                    <small class="error">{{ msg }}</small>
                    {% else %}
                    <small class="error"></small>
                {% endif %}
                <button type="submit" class="btn btn-primary">Siguiente</button>
                
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenido!</h1>
                    <p>Regístrate para unirte a nuestra comunidad y estar al tanto de todos nuestros eventos.</p>
                    <a class="ghost" id="signIn" href="{% url "signin" %}">¿Ya tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}