@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

button, a {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active, a:active {
	transform: scale(0.95);
}

button:focus, a:focus {
	outline: none;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 60%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
    padding: 38px 48px;
	margin-top: 54px;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.events-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.event-breadcrumb {
	display: flex;
	border: 1px solid rgba(0,0,0,0.25);
	padding: 16px;
	border-radius: 8px;
}

.content-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.content-title {
	font-size: 18px;	
	font-weight: bold;
	display: flex;
	align-items: start;
}

.content-title p {
	margin: 0;
}

.content-category {
	display: flex;
	gap: 8px;
}

.content-category p {
	background-color: 	#575757;
	color: white;
	padding: 8px;
	border-radius: 10px;
	font-size: 12px;
	margin: 0;
}

.content-description {
	text-align: justify;
	text-justify: inter-word;
	font-size: 16px;
}

.content-description p {
	margin: 0;
	max-height: 194px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content-metadata {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-weight: 400;
	font-size: 14px;
	color: #797979;
}

.content-metadata p {
	margin: 0;
}

.content-action {
	display: flex;
	justify-content: end;
}

.content-action a {
	text-decoration: none;
	border-radius: 8px;
}

.search-form {
	display: flex;
	gap: 12px;
	width: 100%;
}

.search-form input {
	width: 100%;
}

.search-form select {
	width: 20%;
	margin: 8px 0;
	background-color: #eee;
	border: none;
}

.search-form button{
	width: 20%;
	margin: 8px 0;
	padding: 0;
	text-align: center;
	border-radius: 8px;
}

.content-recommendation {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-weight: bold;
	color: #00981c;
}

.content-recommendation p {
	margin: 0;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}